<%- include('page-header') -%>

    <%- include('content-quartos') -%>

    <%- include('content-servicos') -%>

    <%- include('content-frase') -%>

    <div id="gtco-counter" class="gtco-section">
        <div class="gtco-container">
    
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2 class="cursive-font primary-color">Fatos</h2>
                    <p>Tudo é feito para a satisfação de nossos clientes. Bem-estar e sofisticação na medida de suas necessidades.</p>
                </div>
            </div>
    
            <div class="row">
    
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="9" data-speed="2000" data-refresh-interval="50">1</span>
                        <span class="counter-label">Avaliação Média</span>
    
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="4" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">Opções de Quartos</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="321" data-speed="5000" data-refresh-interval="50">1</span>
                        <span class="counter-label">Clientes Satisfeitos</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
                    <div class="feature-center">
                        <span class="counter js-counter" data-from="0" data-to="2008" data-speed="500"
                            data-refresh-interval="50">1</span>
                        <span class="counter-label">Desde</span>
    
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <%- include('content-inscricao') -%>

<%- include('page-footer') -%>