<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font primary-color">Quartos</h2>
                <p>Horário de Check-in: 14h. Horário de Check-out: 12h.</p>
            </div>
        </div>
        <div class="row">

            <% quartos.forEach(function(quarto){ %>
            <div class="col-lg-6">
                <a href="<%=quarto.foto%>" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay">
                            <i class="ti-plus"></i>
                        </div>
                        <img src="<%=quarto.foto%>" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2>
                            <%=quarto.nome_quarto%>
                        </h2>
                        <p>
                            <%=quarto.descricao%>
                        </p>
                        <p>
                            <span class="price cursive-font">
                                <%=quarto.tarifa%></span>
                        </p>
                    </div>
                </a>
            </div>
            <% }); %>

        </div>
    </div>
</div>